.sidebar-nav li.active>a {
    color: #0086d1;
    /* The preferred blue color */
}


.sidebar-nav>ul {
    margin-left: 20px;
}

.sidebar-nav ul:not(.app-sub-sidebar)>li {
    position: relative;
    margin: 0;
    cursor: pointer;
    margin-left: 4px;
}

.sidebar-nav ul:not(.app-sub-sidebar)>li::before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: -16px;
    height: 14px;
    width: 14px;
}

.sidebar-nav ul:not(.app-sub-sidebar)>li.folder::before {
    background: center/contain no-repeat url();
}

.sidebar-nav ul:not(.app-sub-sidebar)>li.file::before {
    background: center/contain no-repeat url();
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: none;
}

video::-webkit-media-controls-current-time-display {
    display: none;
}

video::-webkit-media-controls-time-remaining-display {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}

video::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
}

video::-webkit-media-controls-volume-slider {
    display: none;
}

video::-webkit-media-controls-enclosure {
    display: none;
}